#homepage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10%;
    height: calc(100vh - 90px);
}

#homepage-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#homepage-image-container {
    width: 100%;
    max-width: 40%;
    height: auto;
}

#homepage-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

#homepage-text h3{
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-family: 'Pacifico', cursive;
    color: #5C4033;
    margin: 0;
}

#homepage-text p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #8B6D5C;
    text-align: center;
    margin-bottom: 20px; 
}

.order-now-button {
    border: none;
    color: white;
    background-color: #8B6D5C;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

#best-sellers {
    margin: 0;
    padding: 0;
    background-color: #D8B6A4;
}

#best-sellers h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 30px;
    color: #5C4033;
    font-size: clamp(1.875rem, 0.8102rem + 4.1152vw, 3.125rem);
}

#best-sellers {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-container {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(1.25rem, 0.4627rem + 3.0426vw, 3.125rem);
    padding-left: clamp(1.25rem, 0.0038rem + 5.1125vw, 4.375rem);
    padding-right: clamp(1.25rem, 0.0038rem + 5.1125vw, 4.375rem);
}

.product-element {
    border-radius: 20px;
}

.product-element:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.product-element img {
    width: 100%;
    border-radius: 20px;
    height: auto;
    display: block;
}

.product-element h4 {
    color: #5C4033;
    text-align: center;
    font-size: clamp(0.9375rem, 0.8129rem + 0.5112vw, 1.25rem);
    margin: 0;
    padding-top: 15px;
}

#our-products {
    padding-top: 30px;
    padding-bottom: 30px;
}

#our-products h3 {
    text-align: center;
    color: #5C4033;
    font-size: clamp(1.875rem, 0.8102rem + 4.1152vw, 3.125rem);
    margin: 0;
}

#our-speciality {
    background-color: #FDEAE7;
    padding-top: 30px;
}

#our-speciality h3{
    text-align: center;
    color: #5C4033;
    font-size: clamp(1.875rem, 0.8102rem + 4.1152vw, 3.125rem);
    margin: 0;
}
 
#our-speciality-container {
    padding: 30px clamp(1.25rem, -3.2362rem + 18.4049vw, 12.5rem);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.our-speciality-icon {
    color: #5C4033;
    font-size: clamp(3.75rem, 3.2515rem + 2.045vw, 5rem);
}

.our-speciality-element {
    text-align: center;
}

.our-speciality-element h4{
    padding: 10px 0px;
    margin: 0;
    color: #5C4033;
    font-size: clamp(0.875rem, 0.7753rem + 0.409vw, 1.125rem);
}

.our-speciality-element p{
    margin: 0;
    font-size: clamp(0.75rem, 0.6752rem + 0.3067vw, 0.9375rem);
    color: #5C4033;
}

@media screen and (max-width: 768px){
    #homepage {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 8% 2%;
        height: auto;
    }

    #homepage-text h3{
        font-size: clamp(2.5rem, 5vw, 5rem);
    }

    #homepage-image-container {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #our-speciality-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    #homepage {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 5% 2%;
        height: auto;
    }

    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}