#navbar {
    background-color: #E7C9AC;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#nav-mob-icon {
    display: none;
}

#logo {
    width: auto;
    max-width: 100px;
}

#logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    height: 50px;
    width: auto;
}

#nav-links {
    display: flex;
    align-items: center;
}

#nav-links ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
}

#nav-links li {
    position: relative;
}

#nav-links a {
    text-decoration: none;
    color: #5C4033;
    font-weight: 700;
    transition: color 0.2s ease;
}

#nav-links a::after {
    content: '';
    position: absolute;
    bottom: -4px;              
    left: 0;
    width: 0;
    height: 2px;
    background-color: #5C4033; 
    transition: width 0.3s ease;
}

#nav-links a:hover::after{
    width: 100%;
}

#nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-icons ul {
    font-size: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #nav-mob-icon {
        display: flex;
    }

    #navbar{
        padding: 0px 30px;
        border-radius: 0px 0px 20px 20px;
    }

    #nav-links  {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 70px;
        background-color: #E7C9AC;
        overflow: hidden;
        transition: max-height 0.3s ease;
        border-radius: 0px 0px 20px 20px;
        
    }

    #nav-links ul {
        flex-direction: column;
        padding: 30px 0px;
    }
}