body {
    margin: 0;
    background-color: #FFF7EC;
    font-family: 'Poppins', sans-serif;
    padding-top: 80px;
}

.site-container {
  max-width: 1025px;
  margin: 0 auto;      
  padding: 20px 20px;      
}